Repository scality/Zenko, pull requests merged in 2018-09, with the labels that each got.

#190 ZENKO-667 feat: side band protocol ports
  kubernetes/zenko/charts/zenko-nfs/nfsd.conf
  kubernetes/zenko/charts/zenko-nfs/templates/_helpers.tpl
  kubernetes/zenko/charts/zenko-nfs/templates/deployment.yaml
  kubernetes/zenko/charts/zenko-nfs/templates/service.yaml
  kubernetes/zenko/charts/zenko-nfs/values.yaml
Labels: help wanted, zenko-nfs

#271 github: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc, enhancement

#313 ZENKO-472 feat: Setup nightly cosbench run
  eve/main.yml
  eve/workers/cosbench/.dockerignore
  eve/workers/cosbench/Dockerfile
  eve/workers/cosbench/insert_data.py
  eve/workers/cosbench/requirements.txt
  eve/workers/cosbench/tmpl.awk
  eve/workers/cosbench/trigger_run.sh
  eve/workers/cosbench/workload.short.xml.tmpl
  eve/workers/cosbench/workload.xml.tmpl
  tests/Makefile
Labels: CI

#328 [cloudserver] bugfix: redis-hosts template typo
  kubernetes/zenko/charts/cloudserver/templates/_env.tpl
  kubernetes/zenko/charts/cloudserver/templates/_helpers.tpl
Labels: charts, cloudserver
